.bubble {
  position: absolute;
  background-color: $primary-light-beige;
  border-radius: 50px;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  transition: filter 75ms linear;
}

.bubble:hover {
  background-color: rgb(228, 228, 228);
  border-color: $primary-light-beige;
  color: black;
}

.bubble-selected {
  filter: brightness(125%) !important;
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.77);
}
.bubble:active {
  filter: brightness(50%);
}

.bubble:focus {
  outline: none;
}

input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  border: none !important;
  margin: 0 auto;
  margin-top: 10px;
  width: 2em;
}

.factor-title {
  font-family: "helvetica";
  font-size: 15px;
}

.navbar {
  background: seagreen;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0px 0px 4px 0.5px #000000;
  z-index: 2;

  .navbar-logo {
    margin: 5px;
    height: 32px;
    position: absolute;
    left: 0;
  }

  .navbar-title {
    margin: 5px;
    font-family: "helvetica";
    color: white;
    font-weight: 100;
  }
}

.navbar:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 3px;
  transform: scale(0.9);
}

.textDimensionCalculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.option-bar {
  background-color: beige;
  height: 9%;
  width: 100%;
  position: absolute;
  bottom: 0;

  .option-bar__add-btn {
    position: absolute;
    background-color: seagreen;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 0;
    margin-top: -15px;
    margin-right: 10px;
  }

  .option-bar__items {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
}

.option {
  background-color: #f4e9dd;
  min-width: 75px;
  margin: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-family: "helvetica";

  .option__delete {
    position: absolute;
    background-color: salmon;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 0;
    margin-top: -15px;
    margin-right: 5px;
  }

  .option__title {
    margin-top: -5px;
  }

  .option__title__input {
    font-size: 15px;
    font-family: "helvetica";
  }

  .option__score {
    font-size: 14px;
    margin-top: 2px;
  }
}
