.text__header {
  font-weight: 500;
  line-height: 18px;
  font-size: 0.9rem;
  fill: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 20%);
}

.text__subheader {
  font-weight: 500;
}

.text__title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
}
