.text--header {
  font-weight: 500;
  line-height: 18px;
  font-size: 0.9rem;
}

.text--editable {
  fill: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 20%);
}

.text--subheader {
  font-weight: 500;
}

.text--title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
}

.text--subtitle {
  font-size: 0.8rem;
  font-weight: 300;
}

.understroke {
  padding-bottom: 0.14rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
