.base-canvas {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.canvas {
  height: 4320px;
  width: 7680px;
  background-image: url("../assets/8k.jpg");
}

@import "_elements.scss";
