@import "_constants.scss";
@import "_elements.scss";

* {
  margin: 0;
  padding: 0;
}

#base-canvas {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: fixed;
  top: 0;
}

#canvas {
  background-image: url("../assets/8k.jpg");
  z-index: 1;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}
